:root {
    --cor-cinza-claro: #E5E5E5;
    --cor-salvar: #2CBE82;
    --cor-excluir: #DA2B40;
    --cor-preto-transparente: #3B3E45;
    --cor-branca: #FFFFFF;
    --cor-laranja: #FFA246;
    --cor-verde-claro: #35E185;
    --cor-azul: #6688FF;
    --cor-roxa: #B266FF;
    --cor-azul-claro: #66D1FF;
    --cor-rosa: #FF66D4;
    --cor-vermelho-claro: #FF6666;
    --cor-alerta: #F55D5D;
    --cor-linha-alerta: #FF6D6D;
}

body {
    font-size: 16px;
    font-weight: 400;
}

.container__cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    /* border: 1px solid #FFFFFF; // Borda
    /* border-radius: 35px;  // Contorno da Borda
    border-bottom-left-radius: 35px; // Contorno inferior à esquerda
    border-bottom-right-radius: 35px; // // Contorno inferior à direita */
    padding: 1.5em 0;
    box-shadow: 0px 9px #A8A8A809;
}

.texto__cabecalho {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #6688FF;
    background-color: #6688FF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: .5em 19em 0 .5em; 
}

.titulo__cabecalho {
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bold;
}

.paragrafo__cabecalho {
    font-size: 14px;
    color: #FFFFFF;
}

.botoes__cabecalho {
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    padding-left: 2.5em;
    padding-right: 10em;
}

.botao__salvar {
    margin-right: .7em;
    background-color: var(--cor-salvar);
    border-color: var(--cor-salvar);
}

.botao__excluir {
    background-color: var(--cor-excluir);
    border-color: var(--cor-excluir);
}

.data__cabecalho {
    font-family: 'Poppins', sans-serif;
    padding-right: 2em;
    text-align: center;
}

.hora__cabecalho {
    font-size: 40px;
}

.dia__cabecalho {
    font-size: 20px;
}

.container__atividades {

    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.borda__atividades-descricao {
    border: 1px solid var(--cor-salvar);
    border-radius: 7px;
    outline: none;

}

.borda__atividades {

    border: 1px solid var(--cor-salvar);
    outline: none;

}
    
.descricao__atividade {
    font-size: 14px;
    width: 27.5vw;
    color: var(--cor-preto-transparente);
    margin-left: 3.5em;
}

.tamanho__input {
    font-size: 14px;
}

::-webkit-input-placeholder {
    font-size: 14px;
    padding-left: 4em;
  }

  ::-webkit-input-placeholder {
    font-size: 14px;
    padding-left: 4em;
  }
  ::-moz-placeholder {
    font-size: 14px;
    padding-left: 4em;
  }
  :-ms-input-placeholder {
    font-size: 14px;
    padding-left: 4em;
  }
  :-moz-placeholder {
    font-size: 14px;
    padding-left: 4em;
  }

.select__dia {

    font-size: 14px;
    width: 13vw;
    color: var(--cor-preto-transparente);
    margin-left: 1.5em;
    margin-right: 1.8em;
    
}

.select__horario {

    font-size: 14px;

}

.botoes__atividade {

    margin-left: 1.8em;
}

.botao__adicionar-atividade {

    margin-right: 1.8em;
}

.container__botoes__horario-semana {
    display: flex;
    align-items: center;
}

.borda-horario {
    background-color: var(--cor-branca);
    border-radius: 10px;
    padding: 1.3em .6em;
    margin: 5em 1em;
    box-shadow: 2px 4px #A8A8A809;
}

.texto-horario {
    font-size: 17px;
}

.botao__segunda {

    background-color: var(--cor-laranja);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: bold;
    border: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: .1em 0.5em;
    margin-right: 1.3em;

}

.botao__terca {

    background-color: var(--cor-verde-claro);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: bold;
    border: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: .1em 1.5em;
    margin-right: 1.3em;

}

.botao__quarta {

    background-color: var(--cor-azul);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: bold;
    border: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: .1em 1.5em;
    margin-right: 1.3em;

}

.botao__quinta { 

    background-color: var(--cor-roxa);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: bold;
    border: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: .1em 1.5em;
    margin-right: 1.3em;

}

.botao__sexta {

    background-color: var(--cor-azul-claro);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: bold;
    border: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: .1em 1.5em;
    margin-right: 1.3em;

}

.botao__sabado {

    background-color: var(--cor-rosa);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: bold;
    border: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: .1em 2.5em;
    margin-right: 1.3em;

}

.botao__domingo {

    background-color: var(--cor-vermelho-claro);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: bold;
    border: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: .1em 2em;
    margin-right: 1.3em;

}
